<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe Page!</title>
</head>
<body>
    <!-- edit {{this_recipe}} -->
    {% for message in get_flashed_messages() %}            <!-- loop through the messages -->
        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
    {% endfor %}

    <h1>Edit Recipe!</h1>
    <form action="/recipes/update" method="POST">
        <!-- Creating a hidden input so the submitted data can stored in our database -->
        <input type="hidden" name="id" value="{{ this_recipe.id }}">
        <div>
            <label>Name</label>
            <input name="name" value=" {{this_recipe.name}} ">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description" cols="30" rows="4">{{this_recipe.description}}</textarea>
        </div>
        <div>
            <label>Instruction</label>
            <textarea name="instructions" cols="30" rows="4">{{this_recipe.instructions}}</textarea>
        </div>
        <div>
            <label>Date Cooked/Made:</label>
            <input name="date" type="date" value="{{this_recipe.date}}">
        </div>
        <div>
            <label>Under 30 minutes?</label>
            <input type="radio" name="under_thirty" value="1" 
            {% if this_recipe.under_thirty == 1 %}
            checked
            {% endif %}
            >Yes
            <input type="radio" name="under_thirty" value="0"
            {% if this_recipe.under_thirty == 0 %}
            checked
            {% endif %}
            >No
        </div>
        <button>Submit</button>
    </form>
</body>
</html>